<!DOCTYPE html>
<html>
  <head>
    {% load static%}
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link href="{%static  '/TrabajoWebApp/css/master.css'%}" rel="stylesheet" >
  </head>
  <body>
    
    <div class="login-box">
      <button ><a href="{% url 'index' %}">incio </a> </button>
      <img src="{%static  '/TrabajoWebApp/img/logo.png'%}" class="avatar" alt="Avatar Image">
      <h1>Formulario de registo </h1>
      
    <form class="form" method="POST" >
    {% csrf_token %}
    
    {{ form.as_p }}
    <input type="submit" value="Log In" >
    <a href="{% url 'login' %}">Desea Inciciar sesion </a>
  
    <!-- <button type="submit" id="submit">login</button> -->

    </form>
      <!-- <form>
       
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username">
  
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="Log In">
        <a href="#">Lost your Password?</a><br>
        <a href="#">Don't have An account?</a>
      </form> -->
    </div>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{%static '/TrabajoWebApp/css/style.css'%}" rel="stylesheet" >
  <title>Formulario Registro</title>
</head>
<body>
  <section class="form-register">
    <h4>Formulario Registro</h4>
    
    <form class="form" method="POST" style="color: aliceblue;">
        {% csrf_token %}
        {{ form.as_p }}
    
        <button type="submit" id="submit">Registarse</button>
    
    </form>
   


  </section>

</body>
</html> -->







    <!-- {% if messages%}
      {% for message in messages %}
        <div class="notification {{message}}" style="background-color: crimson;">
        {{message}}
        </div>
        {% endfor %}
    {% endif %}



<form class="form" method="POST" style="color: aliceblue;">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" id="submit">Registarse</button>

</form> -->



