{% extends "TrabajoWebApp/base.html"%}
{% load static %}
{% block content %}

<h1 style="color: aliceblue;">Block de preguntas</h1>

<!-- 
    {% for bloc in block %}
    <section style="background-color: aliceblue;" class="page-section clearfix">
    <div style="background-color: aliceblue;"><p>
        <h1 style="color: aliceblue;">{{bloc.nombre}}</h1>
        <p style="color: aliceblue;">{{bloc.texto}}</p>
        <h2 style="color: aliceblue;">{{bloc.email}}</h2></p>
    </div>
</section>
    {% endfor %}
     -->

{% endblock %}